!!!
%html{:lang => "en"}
  %head
    %title Food Delivery
    %link{:href => "https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap", :rel => "stylesheet"}/
  
  %body
    .header
      .logo-nav
        .logo
          %img{:alt => "Eureka logo", :src => "/logo1.png"}/
          %p#eureka Eureka Bistro
        
        %nav.navigation
          %ul
            %li HOME
            %li ABOUT
            %li SERVICE
            %li CONTACTS
            %a#cart-logo{:href => "#", :onclick => "openForm()"}
          
      .header-text
        %h1 Ordering Food
        %p Celerius quam asparagi cocunter
    
    .selector
      
      %div
        %select
          %option{:value => "category"} CATEGORY
        %select
          %option{:value => "sorting"} SORTING
        %select
          %option{:value => "vegetarian"} VEGETARIAN
      
      %div
        %label.slider-price{:for => "slider"} Price:
        $9
        %input.slider{:max => "100", :min => "15", :name => "price", :type => "range"}/
        $50
        
    %main.products-main
      - @products.each do |product|
        .image
          =image_tag product.image
          .food-name= product.title
          .food-type= product.description
          .food-price= product.price.to_s + ' $'       
          .add-button{:href => "#"} ADD TO CART 
          %end 
    
    = link_to 'Edit products', dashboard_path, class: "add_link"
    
    %hr.footer-cart-hr/
    %footer.main-footer
      %ul.list-inline
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} Services
        %li
          %a{:href => "#"} About
        %li
          %a{:href => "#"} Terms
        %li
          %a{:href => "#"} Privacy Policy
      %p.copy-right EurekaBistro© 2021
  
