!!!
%html 
  %head
    %title Add new product
  
  %body
    .error 
      %h2 The product was not created! The fields can't be blank!
    .add-header
      %h1 Add new product
  
    .product-form
      =form_with model: @product, local: true do |form|
        =form.label :title 
        =form.text_field :title
       
        =form.label :type_of_food
        =form.text_field :description
        
        =form.label :price
        =form.text_field :price
        
        =form.label :image
        =form.file_field :image, style: 'font-size:17px'
       
        =form.submit :ADD, class: 'submit-button'

    = link_to 'BACK', dashboard_path, class: 'path'

